/* @font-face {
  font-family: 'Example';
  src: url('/assets/fonts/name-of-webfont.woff2') format('woff2'),
    url('/assets/fonts/name-of-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
} */
