
.article-list {
  --flow-space: var(--space-l);

  li {
    border-top: 1px solid var(--colour-border);
    display: flex;
    gap: var(--space-xs);
    justify-content: space-between;
    padding-top: var(--space-xs);
  }
}

.article-list__date {
  display: flex;
  flex-shrink: 0;
}
