
.footer {
  font-size: var(--step--1);
  margin-top: var(--space-2xl-3xl);
  padding-block: var(--space-l);
}

.footer__list {
  align-self: flex-end;
  column-gap: var(--space-s);
  display: flex;
  margin: 0;
}
