/**
 * FLOW UTILITY
 * Info: https://piccalil.li/quick-tip/flow-utility/
 */

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.flow > h1 + *,
.flow > section + * {
  margin-top: var(--space-l, var(--flow-space));
}

.flow > pre {
  margin-top: var(--flow-space) !important;
}
