<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no" />
  <link rel="alternate"
      href="/feed.xml"
      type="application/atom+xml"
      title="Sam O'Neill's Blog" />
  <meta name="referrer" content="no-referrer-when-downgrade" />
  <meta name="description" content="Welcome to the online home of Sam O'Neill, a Brighton-based design engineer.">
  <title>{{ title }} | Sam O'Neill</title>
  <link rel="stylesheet" href="/assets/css/global.css">
</head>
<body>
  <header class="header" role="banner">
    <div class="container">
      <nav class="repel">
        <a class="header__brand" href="/">Sam O'Neill</a>
        <ul class="header__list" role="list">
          <li><a href="/">Home</a></li>
          <li><a href="/writing">Writing</a></li>
        </ul>
      </nav>
    </header>
  </div>
  <main>
    <article class="center flow">
      {{ content | safe }}
    </article>
  </main>
  <footer role="contentinfo" class="footer">
    <div class="container grid repel">
      <p>&copy; 2024 Sam O'Neill</p>
      <ul class="footer__list" role="list">
        <li><a href="https://github.com/samjoneill" target="_blank" rel="noopener">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/samjoneill/" target="_blank" rel="noopener">LinkedIn</a></li>
        <li><a href="https://front-end.social/@samoneill" target="_blank" rel="noopener me">Mastodon</a></li>
      </ul>
    </div>
  </footer>
</body>
</html>