<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no" />
  <meta name="referrer" content="no-referrer-when-downgrade" />
  <title>{{ title }} | Sam O'Neill</title>
  <link rel="stylesheet" href="assets/css/global.css">
</head>
<body>
  <header class="header" role="banner">
    <nav class="container repel">
      <a href="/">Sam O'Neill</a>
      <ul class="header__list" role="list">
        <li><a href="https://github.com/samjoneill" target="_blank" rel="noopener">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/samjoneill/" target="_blank" rel="noopener">LinkedIn</a></li>
        <li><a href="https://mas.to/@samoneill" target="_blank" rel="noopener">Mastodon</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <article>
      {{ content | safe }}
    </article>
  </main>
  <footer role="contentinfo" class="footer">
    <div class="container">
      <p>&copy; 2023 Sam O'Neill</p>
    </div>
  </footer>
</body>
</html>