{% extends "layouts/base.njk" %}

{% block content %}
  <article class="container flow">
    <h1>{{ title }}</h1>

    <section class="flow">
      {{ content | safe }}
    </section>

    <footer class="footnote flow">
      <p>Got feedback? You can reach me on <a href="https://front-end.social/@samoneill">Mastodon</a>.</p>
      <p><time datetime="{{ page.date.toISOString() }}">{{ page.date.toLocaleDateString( 'en-gb', { year: "numeric", month: "long", day: "numeric" } ) }}</time></p>
    </footer>
  </article>
{% endblock %}