---
layout: base.njk
title: Writing
---

<h1>Writing</h1>

<ul class="flow" role="list">
  {% for page in collections.writing | reverse %}
    <li class="repel">
      <p><a href="{{ page.url }}">{{ page.data.title }}</a></p>
      <p>{{ page.date.toLocaleDateString( 'en-gb', { year: "numeric", month: "long", day: "numeric" } ) }}</p>
    </li>
  {%- endfor %}
</ul>
